header {
  position: relative;
  height: 300px;
  background-image: url(https://64.media.tumblr.com/18f631f049bb79f04701a1f5596ba4e9/e97376a3ef6c16df-1f/s500x750/5f5d6209a985c43762f1f337157e50067aa69da3.jpg);
}
h1 {
  margin: 0;
  padding: 100px 0;
  font: 44px "Arial";
  text-align: center;
}

header h1 {
  color: white;
}
.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
}
.footer{
	height:200px;
	background-color: #ffcba4;
	color: black;
	display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.profile{
    margin-top:60px;
    width:80px;
    border-radius:50%;
    margin-left:15px;
    
}
a{
    font-family:'Ubuntu Condnsed',sans-serif;
    color:black;
    text-decoration: none;
    transition:0.5s;
}
a:hover{
    color:#cea135;
    letter-spacing: 2px; 
  }
.right-column{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:90px;
}
