.contact-section{
    margin-top:50px;
    display:grid;
    
}
.fas{
    font-size:50px;
    color:#008B8B;
}
.fab{
    font-size:50px;
    color:#008B8B;
}
.github{
    margin-top:50px;
}
.linkedin{
    margin-top:50px;
}
.facebook{
    margin-top:50px;
}
.instagram{
    margin-top:50px;
    margin-bottom:50px;
}


