.navigation-wrapper{
	height:190px;
	background-color: #ffcba4;
	color: #7fffd4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 100px;
}
.left-column{
	display: flex;
	align-items: center;
}
.left-column> .icon{
	margin-right: 15px;
}
h1{
	color:#7fffd4;
}
.hero-section{
	background-image:url(https://c0.wallpaperflare.com/preview/448/973/161/keyboard-tech-minimalist-minimalism.jpg);
	padding: 100px;
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
