nav{
	height:190px;
	background-color: #ffcba4;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 100px;
}
.left-column{
	display: flex;
	align-items: center;
}
img{
    max-width: 50%;
    border-radius: 200px;
    margin-right: 15px;
    
}
.center-column
{
    display: grid;
    width: 600px;
}
.links-wrapper{
    display:flex;
    justify-content:space-between;
    
}
a{
    font-family:'Ubuntu Condnsed',sans-serif;
    color:black;
}
.right-column{
    display:flex;
    align-items:center;
}
i{
    margin-left: 55px;
    margin-right:15px;
    font-size:3em;  
}
h1{
	color:black;
}
.hero-section{
	background-image:url(https://c0.wallpaperflare.com/preview/448/973/161/keyboard-tech-minimalist-minimalism.jpg);
	padding: 100px;
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.heading{
    padding: 1px 20px;
    background-color:#ffcba4;
    width: 350px;
    border-radius:2px;
}
.bottom-heading{
    padding: 1px 20px;
    background-color:#ffcba4;
    width: 250px;
    margin-top:15px;
    border-radius:2px;
}
.skills-section{
    height:400px;
    background-color:#00CED1;
    
}
.skills-images{
    display:flex;
    justify-content:space-between;
    margin-top:35px;
    max-width:50%
}
