.hero-section{
	background-color: #1c1c1c;
    display:grid;
    height:500px;
    width:100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}
.profile{
    width:280px;
    height:500px;
}
.left{
    margin-left:-100px;
    display:grid;
    align-items:center;
}
.right{
    display:grid;
    align-items:center;
    justify-content:center;
}
    
.hello{
    width:180px;    
    
}
button {
  background-color: orange;
  border: none;
  color: white;
  width:145px;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin-left:10px;
}
nav{
    height:50px;
    width: 100%;
    background-color:white;
    overflow:hidden;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
	
    
}
.nav-link{
    display:grid;
    justify-content:center;
}
.main{
    margin-top: 50px;
    font-family:'Ubuntu',sans-serif;

}
a{
    font-family:'Ubuntu',sans-serif;
    color:black;
    text-decoration: none;
    transition:0.5s;
}
a:hover{
    color:#cea135;
    letter-spacing: 2px; 
  }
.information1{
    width:100%;
    display:grid;
    justify-content:center;
}
.about-me{
    display:grid;
    justify-content:center;
}
.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-between;
    
}
h3{
    font-size:16px;
    margin-top:-8px;
}
p{
    font-size:15px;
    margin-top:-8px;
}
.bars{
    display:grid;
    justify-content:center;
}
.fa-solid{
    font-size:30px;
    color:white;
}
.statement-heading{
    display:grid;
    justify-content:center;
    font-size:11px;
}
.education-heading{
    display:grid;
    justify-content:center;
    font-size:11px;
}
.personal-statement{
    background-color:orange;
    color:#1c1c1c;
    border-radius:3%;
    display:grid;
    padding: 8px 15px;
    justify-content:center;
}
.education{
    background-color:orange;
    color:#1c1c1c;
    border-radius:3%;
    display:grid;
    margin-left:4px;
    padding: 8px 15px;
    justify-content:center;
}
.skills{
    width:100%;
    display:grid;
    justify-content:center;
    
}
.my-skills{
    display:grid;
    justify-content:center;
}
.skills-content{
    display grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: space-between;
    
}
.html-image{
    width:92px;
}
.css-image{
    width:63px;
    margin-left:5px;
}
.js-image{
    width:150px;
    margin-left:-30px;
}
.java-image{
    width:80px;
    margin-left:-50px;
}
.interests{
    height:150px;
    margin-top:15px;
    background-color: #1c1c1c;
    display:grid;
    align-items: center;
    color:white;
    padding: 10px 27px;
}
.contact{
    margin-left:-5px;
    margin-top:-10px;
}

